@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply flex-1 px-3 py-1.5 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 mb-4;
  }

  .btn {
    @apply w-full py-2 bg-blue-600 hover:bg-blue-700 text-white font-medium rounded-md mb-4
  }

  .underline {
    @apply absolute left-0 -bottom-1 h-[2px] bg-orange-500 transition-all duration-300;
    /* 使用 Tailwind 沒有提供的 CSS 屬性 */
    width: 100%;
    transform: scaleX(0);/*用於水平方向的縮放 完全壓縮*/
    transform-origin: center;/*決定變形的起始點*/
  }

  .group:hover .underline {
    transform: scaleX(1.3);/*原本大小*/
  }

}
